<h1>SNSea</h1>


<div class="button-container">
    <%= link_to "new post" , new_post_path, class: "link-button" %>
</div>

<%= link_to "Logout", logout_path, method: :delete %>

<div class="user-info">
  <% if @user %>
    <p>Welcome, <%= @user.name %></p>
    <%= debug @user %>
  <% end %>
</div>

<ul>
    <% @posts.each do |post| %>
    <li>
        <p>投稿者: <%= post.user_name %></p>
        <span>
            <small><%= post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M') %></small>
        </span>
        <h2><%= post.title %></h2>
        <% if post.image.attached? %>
            <div class="post-image">
                <%= link_to image_tag(post.image, class: "img-thumbnail"), image_post_path(post), target: "_blank" %>
            </div>
        <% end %>

        <p><%= post.content %></p>
        <div class="edit-delete-wrapper">
            <%= link_to "edit" , edit_post_path(post), class: "link-edit-delete-button" %>
            <%= button_to "delete" ,post_path(post),method: :delete, class: "link-edit-delete-button" %>
        </div>
    </li>
    <% end %>
</ul>